<?xml version="1.0" encoding="UTF-8"?>
<codegenerator stoponfirsterror="true" deleteoutputfileonerror="true">
    <module name="Mcu" ecufamily="X1X" ecuvariant="P1x-C">
        <autosarversion major ="4" minor ="0">
            <templates>
                <template>
                    <templatefile>.\Template\Mcu_Cbk_h.vm</templatefile>
                    <outputfile>Mcu_Cbk.h</outputfile>
                    <includefile>..\generate\CommonHelper.vm</includefile>
                    <includefile>./Validate/Mcu_Validate.vm</includefile>
                </template>
				 <template>
                    <templatefile>.\Template\Mcu_Cfg_h.vm</templatefile>
                    <outputfile>Mcu_Cfg.h</outputfile>
                    <includefile>..\generate\CommonHelper.vm</includefile>
                    <includefile>./Validate/Mcu_Validate.vm</includefile>
                </template>
                <template>
                    <templatefile>.\Template\Mcu_PBcfg_c.vm</templatefile>
                    <outputfile>Mcu_PBcfg.c</outputfile>
                    <includefile>..\generate\CommonHelper.vm</includefile>
                    <includefile>./Validate/Mcu_Validate.vm</includefile>
                </template>
                <template>
                    <templatefile>.\Template\Mcu_Hardware_h.vm</templatefile>
                    <outputfile>Mcu_Hardware.h</outputfile>
                    <includefile>..\generate\CommonHelper.vm</includefile>
                    <includefile>./Validate/Mcu_Validate.vm</includefile>
                </template>
                <template>
                    <templatefile>.\Template\Mcu_Hardware_c.vm</templatefile>
                    <outputfile>Mcu_Hardware.c</outputfile>
                    <includefile>..\generate\CommonHelper.vm</includefile>
                    <includefile>./Validate/Mcu_Validate.vm</includefile>
                </template>
            </templates>
        </autosarversion>
    </module>
</codegenerator>
