<?xml version="1.0" encoding="UTF-8"?>
<codegenerator stoponfirsterror="true" deleteoutputfileonerror="true">
    <module name="Wdg" ecufamily="X1X" ecuvariant="P1x-C">
        <autosarversion major ="4" minor ="0">
            <templates>
                <template>
                    <templatefile>./Template/Wdg_Cfg_h.vm</templatefile>
                    <outputfile>Wdg_59_DriverA_Cfg.h</outputfile>
                    <includefile>../generate/CommonHelper.vm</includefile>
                    <includefile>./Validate/Wdg_Validate.vm</includefile>
                </template>
                <template>
                    <templatefile>./Template/Wdg_PBcfg_c.vm</templatefile>
                    <outputfile>Wdg_59_DriverA_PBcfg.c</outputfile>
                    <includefile>../generate/CommonHelper.vm</includefile>
                    <includefile>./Validate/Wdg_Validate.vm</includefile>
                </template>
                <template>
                    <templatefile>./Template/Wdg_Hardware_h.vm</templatefile>
                    <outputfile>Wdg_59_Hardware.h</outputfile>
                    <includefile>../generate/CommonHelper.vm</includefile>
                    <includefile>./Validate/Wdg_Validate.vm</includefile>
                </template>
                <template>
                    <templatefile>./Template/Wdg_Hardware_c.vm</templatefile>
                    <outputfile>Wdg_59_Hardware.c</outputfile>
                    <includefile>../generate/CommonHelper.vm</includefile>
                    <includefile>./Validate/Wdg_Validate.vm</includefile>
                </template>
                <template>
                    <templatefile>./Template/Wdg_Cbk_h.vm</templatefile>
                    <outputfile>Wdg_59_DriverA_Cbk.h</outputfile>
                    <includefile>../generate/CommonHelper.vm</includefile>
                    <includefile>./Validate/Wdg_Validate.vm</includefile>
                </template>
            </templates>
        </autosarversion>
    </module>
</codegenerator>
