obr -delete Task
obr -delete TaskStruct *
obr -delete Activity
obr -delete ActivityStruct *
obr -delete AddressSpace
obr -delete AddressSpaceStruct *
obr -delete IODevice
obr -delete IODeviceStruct *
obr -delete MemoryRegion
obr -delete MemoryRegionStruct *
obr -delete Clock
obr -delete ClockStruct *
//obr -delete TimerDriver
//obr -delete TimerDriverStruct *
//obr -delete Watchdog
//obr -delete AlarmTimer
//obr -delete IndAlarmStruct *
obr -delete Connection
obr -delete ConnectionStruct *
//obr -delete MessageQueue
//obr -delete MessageQueueStruct *
//obr -delete MessageBufferPool
//obr -delete MessageBufferPoolStruct *
obr -delete Link
obr -delete LinkStruct *
obr -delete Object
obr -delete ObjectStruct *
obr -delete Semaphore
obr -delete SemaphoreStruct *
//obr -delete LocalMutex
//obr -delete LocalMutexStruct *
