obr VelTaskRouter Task
obr VelTaskRouter TaskStruct *
obr VelActivityRouter Activity
obr VelActivityRouter ActivityStruct *
obr VelAddressSpaceRouter AddressSpace
obr VelAddressSpaceRouter AddressSpaceStruct *
obr VelIODeviceRouter IODevice
obr VelIODeviceRouter IODeviceStruct *
obr VelMemoryRegionRouter MemoryRegion
obr VelMemoryRegionRouter MemoryRegionStruct *
obr VelClockRouter Clock
obr VelClockRouter ClockStruct *
//obr VelTimerDriverRouter TimerDriver
//obr VelTimerDriverRouter TimerDriverStruct *
//obr VelIndAlarmRouter Watchdog
//obr VelIndAlarmRouter AlarmTimer
//obr VelIndAlarmRouter IndAlarmStruct *
obr VelConnectionRouter Connection
obr VelConnectionRouter ConnectionStruct *
//obr VelMessageQueueRouter MessageQueue
//obr VelMessageQueueRouter MessageQueueStruct *
//obr VelMessageBufferPoolRouter MessageBufferPool
//obr VelMessageBufferPoolRouter MessageBufferPoolStruct *
obr VelLinkRouter Link
obr VelLinkRouter LinkStruct *
obr VelObjectRouter Object
obr VelObjectRouter ObjectStruct *
obr VelSemaphoreRouter Semaphore
obr VelSemaphoreRouter SemaphoreStruct *
//obr VelLocalMutexRouter LocalMutex
//obr VelLocalMutexRouter LocalMutexStruct *
