configure cwindlines 14

dvload "data_descriptions_graph.mdv"
D;

bA main##ViewGraph {
    scrollcommand +MAX wid=-2;
    echo "  We have just created a graph of devices and buses.  The graph";
    echo "is displayed in the graphview window that has opened.";
    echo "The file data_descriptions_graph.mdv in this project tells MULTI";
    echo "how to create this customized graph."
    echo " ";
    echo "  Click 'Go on Selected Items (F5)' to continue.";
    echo " ";
    echo " ";
    dataview;
}

scrollcommand +MAX wid=-2;
echo "  This script will demonstrate some of the basic data visualization";
echo "features of MULTI. ";
echo " "
echo "  Click 'Go on Selected Items (F5)' to begin.";
echo " ";
echo " ";

