D

bA main##AboutToExec {
  clear;
  echo " ";
  echo "  We are about to exec the following program:";
  print execute;
  echo "  Click 'Go on Selected Items (F5)' to continue.";
}

bA main##FailedToExec {
  clear;
  echo " ";
  echo "  The program failed to exec the second program. Check to make sure";
  echo "that you have built both executables in this example.";
}

clear;
echo " ";
echo "  This program uses the exec system call to execute another program";
echo "in its place. The MULTI Debugger can detect when the exec function occurs";
echo "and will switch the symbol information to show the new program which is";
echo "running in place of the old one.";
echo " ";
echo "  Click 'Go on Selected Items (F5)' to begin.";
