<?xml version="1.0" encoding="UTF-8"?>
<codegenerator stoponfirsterror="true" deleteoutputfileonerror="true">
    <module name="Spi" ecufamily="X1X" ecuvariant="P1x-C">
        <autosarversion major ="4" minor ="0">
            <templates>
                <template>
                    <templatefile>./Template/Spi_Cfg_h.vm</templatefile>
                    <outputfile>Spi_Cfg.h</outputfile>
                    <includefile>../generate/CommonHelper.vm</includefile>
                    <includefile>./Validate/Spi_Validate.vm</includefile>
                </template>
                <template>
                    <templatefile>./Template/Spi_Cbk_h.vm</templatefile>
                    <outputfile>Spi_Cbk.h</outputfile>
                    <includefile>../generate/CommonHelper.vm</includefile>
                    <includefile>./Validate/Spi_Validate.vm</includefile>
                </template>
                <template>
                    <templatefile>./Template/Spi_PBcfg_c.vm</templatefile>
                    <outputfile>Spi_PBcfg.c</outputfile>
                    <includefile>../generate/CommonHelper.vm</includefile>
                    <includefile>./Validate/Spi_Validate.vm</includefile>
                </template>
                <template>
                    <templatefile>./Template/Spi_Lcfg_c.vm</templatefile>
                    <outputfile>Spi_Lcfg.c</outputfile>
                    <includefile>../generate/CommonHelper.vm</includefile>
                    <includefile>./Validate/Spi_Validate.vm</includefile>
                </template>
                <template>
                    <templatefile>./Template/Spi_Hardware_c.vm</templatefile>
                    <outputfile>Spi_Hardware.c</outputfile>
                    <includefile>../generate/CommonHelper.vm</includefile>
                    <includefile>./Validate/Spi_Validate.vm</includefile>
                </template>
                <template>
                    <templatefile>./Template/Spi_Hardware_h.vm</templatefile>
                    <outputfile>Spi_Hardware.h</outputfile>
                    <includefile>../generate/CommonHelper.vm</includefile>
                    <includefile>./Validate/Spi_Validate.vm</includefile>
                </template>
            </templates>
        </autosarversion>
    </module>
</codegenerator>