configure cwindlines 20
D;

bA main {
  scrollcommand +MAX wid=-2;
  echo "===============================================================================";
  echo " ";
  echo "  After the program terminates, the Profile window will indicate that";
  echo "call graph information was collected.";
  echo " ";
  echo "  To Continue, click 'Go on Selected Items (F5)'.";
  echo " ";
}

bA main#11 {
  scrollcommand +MAX wid=-2;
  echo "===============================================================================";
  echo " ";
  echo "  The 'Standard Calls', 'Call Graph', and 'Source' tabs contain the";
  echo "profiling reports.";
  echo "  Select the 'Percentage View' icon to see the percent of the total time";
  echo "displayed next to each line in the source pane.";
  echo "  Select the 'Dynamic Call Graph' icon for a function level call graph.";
  echo " ";
  resume}


clear;
echo " ";
echo "This example program will demonstrate some of MULTI's performance profiling";
echo "tools.  Performance profiling allows you to view the run-time ";
echo "characteristics of your application.  This information is available in a";
echo "variety of reports and in the source pane.";
echo " ";
echo "Let's start by opening the Profile window. If you are not already connected";
echo "to a target you will be prompted to connect now."
echo " ";
profile;

echo " ";
echo "The Profile window should now be open. You can open it at any time by";
echo "selecting 'Profile...' in the View menu or using the 'profile' command.";
echo " ";
echo "To continue, click 'Go on Selected Items (F5)'.";
echo " ";
