clear;
echo " ";
echo "  This is a simple program that makes heavy use of recursive functions.";
echo "It has been built with options to enable gathering of several different";
echo "types of performance profiling data, including sampling and call count";
echo "information. This performance information is viewed in the Profile";
echo "window.";
echo " ";
echo "  (1) The Profile window may only be opened when you are connected to";
echo "your target.  If you are not already connected, click on 'Connect (F4)'.";
echo " ";
echo "  (2) Enable profiling by opening the Profile window.  The Profile window";
echo "will be associated with the program you have selected when it is first";
echo "opened.  The 'profile' program is already selected in the Target List,";
echo "so just select 'Profile...' in the View menu.";
echo " ";
echo "  (3) Then, click 'Go on Selected Items (F5)'.";
