<?xml version="1.0" encoding="UTF-8"?>
<codegenerator stoponfirsterror="true" deleteoutputfileonerror="true">
    <module name="Dio" ecufamily="X1X" ecuvariant="P1x-C">
        <autosarversion major ="4" minor ="0">
            <templates>
                <template>
                    <templatefile>./Template/Dio_Cfg_h.vm</templatefile>
                    <outputfile>Dio_Cfg.h</outputfile>
                    <includefile>../generate/CommonHelper.vm</includefile>
                    <includefile>./Validate/Dio_Validate.vm</includefile>
                </template>
                <template>
                    <templatefile>./Template/Dio_Hardware_h.vm</templatefile>
                    <outputfile>Dio_Hardware.h</outputfile>
                    <includefile>../generate/CommonHelper.vm</includefile>
                    <includefile>./Validate/Dio_Validate.vm</includefile>
                </template>
                <template>
                    <templatefile>./Template/Dio_Cbk_h.vm</templatefile>
                    <outputfile>Dio_Cbk.h</outputfile>
                    <includefile>../generate/CommonHelper.vm</includefile>
                    <includefile>./Validate/Dio_Validate.vm</includefile>
                </template>
                <template>
                    <templatefile>./Template/Dio_PBcfg_c.vm</templatefile>
                    <outputfile>Dio_PBcfg.c</outputfile>
                    <includefile>../generate/CommonHelper.vm</includefile>
                    <includefile>./Validate/Dio_Validate.vm</includefile>
                </template>
                <template>
                    <templatefile>./Template/Dio_Lcfg_c.vm</templatefile>
                    <outputfile>Dio_Lcfg.c</outputfile>
                    <includefile>../generate/CommonHelper.vm</includefile>
                    <includefile>./Validate/Dio_Validate.vm</includefile>
                </template>
                <template>
                    <templatefile>./Template/Dio_Hardware_c.vm</templatefile>
                    <outputfile>Dio_Hardware.c</outputfile>
                    <includefile>../generate/CommonHelper.vm</includefile>
                    <includefile>./Validate/Dio_Validate.vm</includefile>
                </template>
            </templates>
        </autosarversion>
    </module>
</codegenerator>
