<?xml version="1.0" encoding="UTF-8"?>
<codegenerator stoponfirsterror="false" deleteoutputfileonerror="true">
    <module name="Fls" ecufamily="X1X" ecuvariant="P1x-C">
        <autosarversion major ="4" minor ="0">
            <templates>
                <template>
                    <templatefile>./Template/Fls_Cfg_h.vm</templatefile>
                    <outputfile>Fls_Cfg.h</outputfile>
                    <includefile>../generate/CommonHelper.vm</includefile>
                    <includefile>./Validate/Fls_Validate.vm</includefile> 
                </template>
                <template>
                    <templatefile>./Template/Fls_PBcfg_c.vm</templatefile>
                    <outputfile>Fls_PBcfg.c</outputfile>
                    <includefile>../generate/CommonHelper.vm</includefile>
                    <includefile>./Validate/Fls_Validate.vm</includefile>
                </template>
                <template>
                    <templatefile>./Template/Fls_Cbk_h.vm</templatefile>
                    <outputfile>Fls_Cbk.h</outputfile>
                    <includefile>../generate/CommonHelper.vm</includefile>
                    <includefile>./Validate/Fls_Validate.vm</includefile>
                </template>
                <template>
                    <templatefile>./Template/Fls_Hardware_c.vm</templatefile>
                    <outputfile>Fls_Hardware.c</outputfile>
                    <includefile>../generate/CommonHelper.vm</includefile>
                    <includefile>./Validate/Fls_Validate.vm</includefile>
                </template>
                <template>
                    <templatefile>./Template/Fls_Hardware_h.vm</templatefile>
                    <outputfile>Fls_Hardware.h</outputfile>
                    <includefile>../generate/CommonHelper.vm</includefile>
                    <includefile>./Validate/Fls_Validate.vm</includefile>
                </template>
            </templates>
        </autosarversion>
    </module>
</codegenerator>