configure cwindlines 20
D;

bA main {
  scrollcommand +MAX wid=-2;
  echo "===============================================================================";
  echo " ";
  echo "  After the program terminates, the Profile window will indicate that";
  echo "coverage information was collected.";
  echo "  Once coverage information is available, the 'Block Summary' and";
  echo "'Block Detailed' tabs contain the coverage reports. The 'Standard Calls'";
  echo "and 'Source' tabs combine coverage data with other profiling data when";
  echo "available. Select the 'Coverage View' icon to highlight the unexecuted";
  echo "code in the source pane.";
  echo " ";
  echo "  To continue, click 'Go on Selected Items (F5)'.";
  echo " ";
}
  

clear;
echo "This example program will demonstrate MULTI's Code Coverage analysis";
echo "tools. Code Coverage analysis allows you to see which lines of code were";
echo "executed during one or more runs of your program.  This information is";
echo "available in a variety of reports, and unexecuted code can be ";
echo "highlighted in the debugger source pane.";
echo " ";
echo "Let's start by opening the Profile window. If you are not already connected";
echo "to a target you will be prompted to connect now."
echo " ";
profile;

echo " ";
echo "The Profile window should now be open. You can open it at any time by";
echo "selecting 'Profile...' in the View menu or using the 'profile' command.";
echo " ";
echo "To continue, click 'Go on Selected Items (F5)'.";
echo " ";
