configure cwindlines 14
D;

/* This demonstration uses the same program used by the Advanced
 * Debugging demo. However, this demo is focused on the editor features.
 * If you want to execute the program in this demonstration you should
 * build and run the Advanced Debugging demo instead. */

setargs catalogfile
clear;
echo "  This demonstration is designed to show the editor. Start the editor by";
echo "clicking on the Editor button in the Debugger or entering the \"edit\"";
echo "command from the Debugger command pane.";
