configure cwindlines 14

D;

bA main##ListCreation {
    scrollcommand +MAX wid=-2;
    echo "  We have stopped at the beginning of the creation of a list.  Step";
    echo "through this loop if you wish to watch the elements being inserted ";
    echo "into the list."
    echo " ";
    echo "  Press 'e' in the view window to toggle between the new formatted";
    echo "view and the raw data view.";
    echo " ";
    echo "  Click 'Go on Selected Items (F5)' to continue.";
    echo " ";
    view intList;
}

bA main##ListIterator {
    scrollcommand +MAX wid=-2;
    echo "  Here we have created an iterator for the list.  Step across      ";
    echo "the following lines to watch the iterator increment.";
    echo " "
    echo "  Click 'Go on Selected Items (F5)' to continue.";
    echo " ";
    view intListIt;
}

bA main##VectorCreation {
    scrollcommand +MAX wid=-2;
    echo "  We are about to create a vector using the list from earlier.     ";
    echo "Step through the loop to see the elements being inserted into the  ";
    echo "vector."
    echo " "
    echo "  Click 'Go on Selected Items (F5)' to continue.";
    echo " ";
    view intListVector;
}

bA main##MapCreated {
    scrollcommand +MAX wid=-2;
    echo "  We have just created a map of characters to integers.  The next  ";
    echo "line will use this to insert a number into the first list in the   ";
    echo "vector."
    echo " "
    echo "  Click 'Go on Selected Items (F5)' to continue.";
    echo " ";
    view charToInt;
}

bA main##VectorInsert {
    scrollcommand +MAX wid=-2;
    echo "  Notice the value that has been inserted into the first list      ";
    echo "(element 0) of the vector."
    echo " "
    echo "  Click 'Go on Selected Items (F5)' to continue.";
    echo " ";
}


clear;
echo " ";
echo "  This script will demonstrate some of the basic STL features of MULTI. ";
echo " "
echo "  Click 'Go on Selected Items (F5)' to begin.";
echo " ";
