<?xml version="1.0" encoding="UTF-8"?>
<codegenerator stoponfirsterror="true" deleteoutputfileonerror="true">
    <module name="Port" ecufamily="X1X" ecuvariant="P1x-C">
        <autosarversion major ="4" minor ="0">
            <templates>
                <template>
                    <templatefile>./Template/Port_Cfg_h.vm</templatefile>
                    <outputfile>Port_Cfg.h</outputfile>
                    <includefile>../generate/CommonHelper.vm</includefile>
                    <includefile>./Validate/Port_Validate.vm</includefile>
                    <includefile>./Template/Port_Hardware_h.vm</includefile>
                </template>
                <template>
                    <templatefile>./Template/Port_PBcfg_c.vm</templatefile>
                    <outputfile>Port_PBcfg.c</outputfile>
                    <includefile>../generate/CommonHelper.vm</includefile>
                    <includefile>./Validate/Port_Validate.vm</includefile>
                    <includefile>./Template/Port_Hardware_h.vm</includefile>
                </template>
                <template>
                    <templatefile>./Template/Port_Cbk_h.vm</templatefile>
                    <outputfile>Port_Cbk.h</outputfile>
                    <includefile>../generate/CommonHelper.vm</includefile>
                    <includefile>./Validate/Port_Validate.vm</includefile>
                </template>
                <template>
                    <templatefile>./Template/Port_Hardware_h.vm</templatefile>
                    <outputfile>Port_Hardware.h</outputfile>
                    <includefile>../generate/CommonHelper.vm</includefile>
                    <includefile>./Validate/Port_Validate.vm</includefile>
                </template>
                <template>
                    <templatefile>./Template/Port_Hardware_c.vm</templatefile>
                    <outputfile>Port_Hardware.c</outputfile>
                    <includefile>../generate/CommonHelper.vm</includefile>
                    <includefile>./Validate/Port_Validate.vm</includefile>
                </template>
            </templates>
        </autosarversion>
    </module>
</codegenerator>
