menumodify update ToolsMenu 0 {'MULTI EventAnalyzer' '' __dimwhilerunning; __mevdump txevent -gcmd txundump}

debugbutton "dumpEvents" c="__check_condition $_MEV_OK; {__mevdump txevent -gcmd txundump}" i=dumpmemtomevgui h="Show events in MULTI EventAnalyzer" t="Dump and Show Events"
//debugbutton "osa" c="__check_condition $_OSA_OK; osaexplorer" i="osaexplorer" h="Show OSA Explorer" t="OSA Explorer"
